extends _layout/layout.pug
block main 
	h1 Trang chủ thu 1
	h2 Trang chủ thu 2
	- for(var x =0;x<3;x++)
		li item
	p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus nihil excepturi inventore numquam nam! Officia odio asperiores dolores expedita deleniti, aperiam doloribus excepturi vitae possimus minima voluptate illo iusto incidunt?